/* Trivia Game - style.css*/

body {
  background-image: url("../images/trivia-game.png");
  background-repeat: no-repeat;
  background-size: auto;
}

.jumbotron {
  font-family: "Merriweather", serif;
  font-size: 3.5rem;
  color: #010616;
  background-image: url("../images/trivia-game-jumbotron.png");
  color: #e6ecff;
  text-shadow: #05121b;
}

#start_button {
  height: 6rem;
  width: 30rem;
  font-family: "Merriweather", serif;
  font-size: 2rem;
  color: #010616;
  text-shadow: #05121b;
}

.container {
  margin-top: -55px;
  /*background-color: #e6ecff;*/
  color: #010616;
}

div > p {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  color: #010616;
}

.form-check-label > p {
  margin-bottom: 0;
  font-family: "Merriweather", serif;
  font-size: 1rem;
  color: #010616;
}

.display_timer {
  color: #e60000;
}

#doneButton {
  padding: 1rem;
  margin: 1.5rem;
  height: 6rem;
  width: 30rem;
  font-family: "Merriweather", serif;
  font-size: 2rem;
  color: #e60000;
  text-shadow: #05121b;
}
