/* Trivia Game - style.css*/

body {
  background-image: url("../images/trivia-game.png");
  /*background-repeat: no-repeat;*/
  background-size: auto;
  margin: 0;
}

.jumbotron {
  font-family: "Merriweather", serif;
  font-size: 3.5rem;
  background-image: url("../images/trivia-game-jumbotron.png");
  color: #e6ecff;
  text-shadow: #05121b;
  border-bottom: 3px solid #e6ecff;
  /*#005295*/
}

#start_button {
  margin: 1.5em 0 1.5em 0;
  /*height: 3em;*/
  width: 90vw;
  font-family: "Merriweather", serif;
  font-size: 2em;
  color: #e6ecff;
  text-shadow: #05121b;
  background-image: url("../images/trivia-game-jumbotron.png");
}

@media (min-width: 992px) {
  .container {
    margin-top: -55px;
    left: auto;
    right: auto;
    color: #010616;
  }
}

@media (max-width: 992px) {
  .container {
    margin-top: -55px;
    left: 0;
    right: 0;
    color: #010616;
  }
}

div > p {
  font-family: "Merriweather", serif;
  font-size: calc(16px + 1vw);
  color: #010616;
}

.form-check-label > p {
  margin-bottom: 0;
  font-family: "Merriweather", serif;
  font-size: 1rem;
  color: #010616;
}

.display_timer {
  color: #e60000;
}

#timer {
  color: #e60000;
  font-family: "Merriweather", serif;
  font-size: 2rem;
}

#doneButton {
  padding-top: 0.5em;
  margin: 1.5em 0 1.5em 0;
  /*height: 3em;
  display: block;
  width: 90%;*/
  font-family: "Merriweather", serif;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: #05121b;
  background-image: url("../images/trivia-game-jumbotron.png");
}
